@page "/customer"
@rendermode InteractiveServer

<PageTitle>Customer</PageTitle>

<h1>Customer</h1>


@code {
   // Här anropar vi C# kod vi skrivit i andra klaser. Kod kan även skrivas här men det är snyggare att separera när det går
}
